.cell {
    border: 1px solid black;
    width: 5px;
    height: 5px;
    display: inline-block;
    margin:0px;
    padding: 0px
}



#container {
    margin: 20px auto auto auto;
    width: 50%;
    justify-content: center;
}

.gridRow {
    display: flex;
}

.my-color-class {
    background-color: blue;
}