.cell{
    border: 1px solid black;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    margin:0px;
    padding: 0px
}

.cell:hover{
    background-color: blue;
}

#container{
    margin: 20px auto auto auto;
    width: 50%;
    justify-content: center;
}

.gridRow{
    
    display: flex;
}
